<div class="container m-5">
  <div class="div">
    <h1>Contact ðŸ“ž</h1>
    <p>Teach us how to code</p>
    <%# members = ["Amjad", "Jamie", "Rebecca", "Hamidreza", "Rebeca", "Antonio", "Alberto", "Iratxe", "Shubham", "Louise", "Maksym", "Mohammad", "Alexandra", "Giulia", "Killian", "Bernardo", "Zoe", "Giorgio", "Emma", "Franz", "Luisa", "Pascal", "Anna", "Kat"] %>
  </div>

  <div class="div">
    <% @members.each do |member| %>
      <ul>
        <li><%= member %></li>
      </ul>
    <% end %>
  </div>

  <%= link_to 'More about us', about_path, class: "btn btn-light " %>
  <%= link_to 'ðŸ‘ˆðŸ» Back home', root_path, class: "btn btn-light" %>
</div>
